<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-app="fourierApp">

<head>
    <title>Comunicação de dados | Gráfico de Fourier</title>
    <script src="https://code.angularjs.org/1.6.0/angular.js"></script>
    <script src="https://code.angularjs.org/1.6.0/angular-route.js"></script>
    <script src="scripts/chartist.js"></script>
    <script src="scripts/jquery-1.5.2.js"></script>
    <link href="scripts/chartist.css" rel="stylesheet" type="text/css" />

    <!-- Material -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Material -->

    <meta charset="utf-8">
</head>

<body ng-app="fourierApp" ng-controller="FourierController as appCtrl" ng-init="init()">
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Gráfico de Fourier</span>
            </section>
        </div>
    </header>
    <div class="container">
        <div class="calc-form">
            <div class="formcontrol">
                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="my-label-id">Final do RA:</span>
                    <input class="mdc-text-field__input" type="number" id="fname" name="fname"
                        ng-model="base.selectedRA">
                    <span class="mdc-line-ripple"></span>
                </label>
            </div>
            <div class="formcontrol">
                <label class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="my-label-id">Termos:</span>
                    <input class="mdc-text-field__input" type="number" id="lname" name="lname" ng-model="base.iterator">
                    <span class="mdc-line-ripple"></span>
                </label>
            </div>
            <input class="mdc-button mdc-button--raised" type="submit" ng-click="init()">
        </div>
        <div id="graphic" class="ct-chart ct-perfect-fourth"></div>
    </div>
</body>
<script src="script.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" />

</html>